:root {
    --primary-color: #5DADE2; /* Buz Mavi */
    --secondary-color: #BDC3C7; /* Gümüş */
    --text-color: #34495E; /* Koyu Gri */
    --bg-color: #FFFFFF; /* Beyaz */
    --btn-hover-color: #2980B9; /* Canlı Mavi */
  }
  