:root {
    --primary-color: #5DADE2; /* Buz Mavi */
    --secondary-color: #BDC3C7; /* Gümüş */
    --text-color: #34495E; /* Koyu Gri */
    --bg-color: #FFFFFF; /* Beyaz */
    --btn-hover-color: #2980B9; /* Canlı Mavi */
    --light-bg: #f3f4f6; /* Açık Gri */
    --gradient-start: #f0f9ff; /* Açık Buz Mavi */
    --gradient-end: #e0f2fe; /* Çok Açık Buz Mavi */
    --white: #ffffff; /* Beyaz */
    --success-color: #27ae60; /* Yeşil */
  }